.aboutImage2{
    width:500px;
    height:300px;
}

.theme-light {
    background-color: #fff !important;
    color: #000 !important;
}

.theme-dark {
    background-color: #000 !important;
    color: #fff !important;
}

.aboutSecondCont{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding: 50px 30px 50px 30px;
}
.aboutSecondCont div{
    display:flex;
    flex-direction:column;
    align-items:center;
    border:1px solid #D6D5D5;
    padding: 20px 20px;
    border-radius: 5px;
    width: 20%;
}
.aboutSecondCont span{
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
}
.aboutSecondCont p{
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}

.aboutLastCont{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding: 50px 70px 50px 70px;
}
.aboutLastCont div{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding: 20px 20px;
    border-radius: 5px;
    width: 30%;
}
.AboutImg{
    width:350px;
    height:350px;
}
.aboutLastCont span{
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
}
.aboutLastCont p{
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}

@media only screen and (min-width: 320px) and (max-width: 425px) {
    .aboutImage2{
        width:100%;
        height:250px;
    }
    .aboutSecondCont{
        display:flex;
        flex-direction:column;
        gap:30px
    }
    .aboutSecondCont div{
        display:flex;
        width: 100%;
    }
    .aboutLastCont{
        display:flex;
        flex-direction:column;
    }
    .aboutLastCont div{
        padding: 20px 5px;
        width: 100%;
    }
    .aboutLastCont span{
        font-size: 16px;
    }
    .aboutLastCont p{
        font-size: 14px;
    }

}
@media only screen and (min-width: 426px) and (max-width: 767px) {
    .aboutImage2{
        width:100%;
        height:250px;
    }
    .aboutSecondCont{
        display:flex;
        flex-direction:column;
        gap:30px
    }
    .aboutSecondCont div{
        display:flex;
        width: 100%;
    }
    .aboutLastCont{
        display:flex;
        flex-direction:column;
    }
    .aboutLastCont div{
        padding: 20px 5px;
        width: 100%;
    }
    .aboutLastCont span{
        font-size: 16px;
    }
    .aboutLastCont p{
        font-size: 14px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .aboutImage2{
        width:100%;
        height:250px;
    }
    .aboutSecondCont{
        display:flex;
        flex-direction:column;
        gap:30px
    }
    .aboutSecondCont div{
        display:flex;
        width: 100%;
    }
    .AboutImg{
        width:350px;
    }
    .aboutLastCont{
        display:flex;
        flex-direction:column;
    }
    .aboutLastCont div{
        padding: 20px 5px;
        width: 100%;
    }
    .secondlastCont div{
        width: auto;
        height: 500px;
        padding-top: 35px;
    }
    .aboutLastCont span{
        font-size: 16px;
    }
    .aboutLastCont p{
        font-size: 14px;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1439px) {

}