
.loginCont{
    margin:4% 0 7% 0;
    display: flex;
    justify-content: center;
}
.loginImage{
    width:600px;
    margin:35px 0 0 0;
}
.loginInputField{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.user-profile{
   background-color: #1b0404;
   border-radius: 15px;
   padding: 7px;
   color: #fff;
   display: flex;
   align-items: center;
}
.user-profile .circle{
    background-color: #fff;
    border-radius: 50%;
    width:40px;
    height:40px;
    color: #000;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.user-profile .box{
  
}



@media only screen and (min-width: 320px) and (max-width: 425px) {
    .loginCont{
        margin:0;
        display: flex;
        flex-direction: column;
    }
    .loginImage{
        width:100% !important;
        height: auto !important;
        margin:0;
    }
    .logindetails{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .loginInputs{
        margin-top: 30px;
        display: block;
        justify-content:center ;
    }
}
@media only screen and (min-width: 426px) and (max-width: 767px) {
    .loginCont{
        margin:0;
        display: flex;
        flex-direction: column;
    }
    .loginImage{
        width:100% !important;
        height: auto !important;
        margin:0;
    }
    .logindetails{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .loginInputs{
        margin-top: 30px;
        display: block;
        justify-content:center ;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .loginCont{
        margin:0;
        display: flex;
        flex-direction: column;
    }
    .loginImage{
        width:100% !important;
        height: auto !important;
        margin:0;
    }
    .logindetails{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .loginInputs{
        margin-top: 30px;
        display: block;
        justify-content:center ;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
    .loginCont{
        margin:0;
        display: flex;
        flex-direction: row;
        margin-right: 50px;
    }
    .loginImage{
        width:600px !important;
        height: auto !important;
        margin:0;
    }
    .logindetails{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .loginInputs{
        margin-top: 30px;
        display: block;
        justify-content:center ;
    }
    
}